<div class="cpx-table-control tableDiv">

    <p class="active">{{errorMsg}}</p>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td class="col-1">物料编号</td>
                <td class="col-2">物料名称</td>
                <td class="col-3">一级类别编码</td>
                <td class="col-4">一级类别</td>
                <td class="col-5">二级类别编码</td>
                <td class="col-6">二级类别</td>
                <td class="col-7">规格</td>
                <td class="col-8">主单位</td>
                <td class="col-9">操作</td>
            </tr>   
        </thead> 
        <tbody>
                                                       
        </tbody>   
    </table>
</div>  