<p>收款单位：自采</p>
<table class="table table-condensed table-bordered skt">
    <thead>
        <tr>
            <td class="col-0"></td>
            <td class="col-2">报销单号</td>
            <td class="col-3">创建时间</td>
            <td class="col-4">创建人</td>
            <td class="col-5">应付/元</td>
            <td class="col-6">已付/元</td>
            <td class="col-7">未付/元</td>
        </tr>
    </thead>
    <tbody>
        <tr class="order">
            <td class="col-0">
                <span class="fold" data-id="34567"></span>
            </td>
            <td class="col-2">123456789</td>
            <td class="col-3">2016-04-15</td>
            <td class="col-4">赵日天</td>
            <td class="col-5">500</td>
            <td class="col-6">200</td>
            <td class="col-7">300</td>
        </tr>
        <tr class="paydetail hidden 34567">
            <td colspan="7">
                <p>
                    <span class="amount">现金付款：200元</span>
                    <span class="name">赵日天</span>
                    <span class="time">2016-04-26</span>
                </p>
                <p>
                    <span class="amount">现金付款：200元</span>
                    <span class="name">赵日天</span>
                    <span class="time">2016-04-26</span>
                </p>
                <p>
                    <span class="amount">现金付款：200元</span>
                    <span class="name">赵日天</span>
                    <span class="time">2016-04-26</span>
                </p>
            </td>    
        </tr>    
    </tbody>
</table>