@charset 'utf-8';

.cpx-form .control-group .controls span{
	color: #fff;
}
.cpx-storageoutdetail-box .cpx-search-info .form-group{
	width: 32.98455%;
}

.cpx-storageoutdetail-box .cpx-search-form{
	padding-bottom: 5px;
}
.cpx-storageoutdetail-box .table-bordered > tbody > tr > td{
	padding: 14px 5px;
}

.cpx-storageoutdetail-box .cpx-box-header .storagein-type {
    background: #e4e8ee;
    padding: 5px;
    margin-left: 19px;
    color: #528bee;
}