@charset 'utf-8';

.cpx-form .control-group .controls span{
	color: #fff;
}
.cpx-allocationdetail-box .cpx-box-header .revocation{
	float: right;
	border-top-right-radius: 4px; 
}
.cpx-allocationdetail-box .cpx-search-info .form-group {
    width: 32.98455%;
}
.cpx-allocationdetail-box .cpx-search-form{
	padding-bottom: 5px;
}
.cpx-allocationdetail-box .table-bordered > tbody > tr > td{
	padding: 14px 5px;
}