<div class="catm cpx-form">
	<div class="form-group control-group">
        <label class="control-label">物料名称/编号</label>
        <div class="controls">
            <div class="control">
                <input type="text" class="form-control fQuery"  id="mIdOrName">
                <input type="hidden" id="cmMaterialId">   
            </div>
        </div>
    </div>
</div>