<div class="stores">
	<ul>
		<li>
			<input type="radio" class="checkStore" id="store1" value="泰钰丰" name="store">
            <label class="control-label" for="store1">
            	<p>编号：9527</p>
               	<p>泰钰丰</p> 
            </label>
		</li>
		<li>
			<input type="radio" class="checkStore" id="store2" value="泰钰丰xxxx店" name="store">
            <label class="control-label" for="store2">
            	<p>编号：9528</p>
               	<p>泰钰丰xxxx店</p> 
            </label>
		</li>
	</ul>
</div>