<tr class="ad">
    <td class="mQuery" colspan="3">
        <div class="fq-control">
            <input type="text" class="fq-query form-control fQuery" placeholder="请输入物料名称、编号、首字母">
        </div>
    </td>
    <td class="col-4">
        <input type="text" class="form-control unitPrice" name="unitPrice[]" value="">
    </td>
    <td class="col-5"></td>
    <td class="col-6">
        <input type="hidden" name="id[]" class="id">
        <input type="hidden" name="depid[]" class="depid">
        <input type="hidden" name="unitName[]" class="unitName">
        <input type="hidden" name="name[]" class="name" value="">
        <input type="hidden" name="keyId[]" value="0">

        <div class="adm-control">
            <i class="add glyphicon glyphicon-plus"></i>
            <i class="minus glyphicon glyphicon-minus"></i>
            <input type="text" class="adm-input amount tkey" value="" name="amount[]">
        </div>    
    </td>
    <td class="col-7"></td>
    <td class="col-61 tdotherunit"></td>
    <td class="col-8"><button type="button" class="btn btn-default del">删除</button></td>
</tr>