@charset 'utf-8';

.cpx-form .control-group .controls span{
	color: #fff;
}
.cpx-purchaserefund-box .cpx-search-info .form-group{
	width: 32.98455%;
}
.cpx-purchaserefund-box .cpx-box-header .storagein-type{
	background: #e4e8ee;
    padding: 5px;
    margin-left: 19px;
    color: #528bee;
}
.cpx-purchaserefund-box .cpx-box-header .beRefund{
	float: right;
	border-top-right-radius: 4px; 
}
.cpx-purchaserefund-box .cpx-search-form{
	padding-bottom: 5px;
}
.cpx-purchaserefund-box .table-bordered > tbody > tr > td{
	padding: 10px 5px;
}
.purAppro .cpx-box-header{
	border-radius: 0;
    background: #dee3eb;
    padding-left: 20px;
    font-size: 14px;
    color: #475057;
}

.cpx-purchaserefund-box .table > thead > tr.title > td{
	background: #4b5c69;
	text-align: left;
	padding-left: 10px;
}

.cpx-purchaserefund-box .table tbody td.col-1,
.cpx-purchaserefund-box .table thead td.col-1{
	width: 75px;
}
.cpx-purchaserefund-box .table tbody td.col-2,
.cpx-purchaserefund-box .table thead td.col-2{
	width: 90px;		
}
.cpx-purchaserefund-box .table tbody td.col-3,
.cpx-purchaserefund-box .table thead td.col-3{
	width: 150px;		
}
.cpx-purchaserefund-box .table tbody td.col-4,
.cpx-purchaserefund-box .table thead td.col-4{
	width: 100px;		
}
.cpx-purchaserefund-box .table tbody td.col-5,
.cpx-purchaserefund-box .table thead td.col-5{
	width: 80px;		
}
.cpx-purchaserefund-box .table tbody td.col-6,
.cpx-purchaserefund-box .table thead td.col-6{
	width: 95px;		
}
.cpx-purchaserefund-box .table tbody td.col-7,
.cpx-purchaserefund-box .table thead td.col-7{
	width: 65px;		
}
.cpx-purchaserefund-box .table tbody td.col-8,
.cpx-purchaserefund-box .table thead td.col-8{
	width: 65px;		
}


.cpx-purchaserefund-box .table td input{
	height: 25px;
	text-align: center;
}

.adm-control{width: 100%; height: 25px; position: relative; background: #fff; border-radius: 3px; border: 1px solid #ccc; }
.adm-control .adm-input{border: 0; width: 43px; height: 23px !important; left: 18px;	 text-align: center; position: absolute;}
.adm-control i{top: 0px; height: 25px; width: 18px; color: #528bee; font-style: normal; position: absolute; text-align: center; padding-top: 5px; cursor: pointer;}
.adm-control .add{right: 0px;}
.adm-control .minus{left: 0px;}









